<!doctype html>
<html>
   <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% block title %}Bibliographie autour de Mme De Sévigné{% endblock %}
      </title>
      <link rel="shortcut icon" href="{% block favicon %}{% endblock %}" type="image/x-icon"/>
      <link rel="stylesheet" href="css/build/production.min.css"/>
   </head>
   <body>
   {% block nav %}
      <nav id="main-nav" class="navbar navbar-expand navbar-light fixed-top" style="{% block navstyle %}{% endblock %}">
         <a class="navbar-brand" href="index.php">
            <img class="rounded" height="40px" src="{% block navlogo %}{% endblock %}"/>
         </a>
         <ul class="navbar-nav">
         {% block menu %}
            <li class="nav-item">
               <a class="nav-link" href="index.php?page=index">
                  <i class="fa fa-home" aria-hidden="true"></i> Home
               </a>
            </li>
         {% endblock %}
         </ul>
         <a id="tei_link" class="py-auto" href="{% block tei_link %}{% endblock %}">{% block tei_logo %}
            <img src="img/logo_TEI.png" alt="source TEI" width="35px"/>{% endblock %}
         </a>
      </nav>
   {% endblock %}
      <div id="main-container" class="col px-4 offset-2 col-8">
        {% block content %}{% endblock %}
        <div id="signature"></div>
      </div>
      {% block footer %}
      <div id="footer" class="p-2">
        <div class="row text-center">
            <div class="col-8 logos links center">
            {% block logos %}{% endblock %}
            </div>
            <div class="col text-left links">
                <a href="{% block legalpage %}#{% endblock %}">Mentions légales</a>
                <a target="_blank" href="{% block sourcelink %}https://gricad-gitlab.univ-grenoble-alpes.fr{% endblock %}">Code source</a>
            </div>
        </div>
      </div>
      {% endblock %}
      <script type="text/javascript" src="js/build/production.min.js"></script>
   </body>
</html>
