{% extends "project.html.twig" %}{% block title %}Bibliographie autour de Madame De Sévigné - Galerie d'images{% endblock %}

{% block tei_link %}./data/tei/HN_Sevigne_images.xml{% endblock %}

{% block content %}
<div class="row">
   <div class="col text-justify">
      
      <H2 id="">Images</H2>
      
      <div class="row">
         <div class="gallery" id="gallery">
            <div class="card mb-3 pics animation all 2" type="button" data-toggle="modal" data-target="#modal1"><img class="card-img-top img-fluid" alt="Chambre de Madame de Sévigné" src="data/img/Images_gallery/chambre_d.jpg"></img></div>
            <div class="card mb-3 pics animation all 2" type="button" data-toggle="modal" data-target="#modal2"><img class="card-img-top img-fluid" alt="Façade du château de Grignan" src="data/img/Images_gallery/Grignan_d.jpg"></img></div>
            <div class="card mb-3 pics animation all 2" type="button" data-toggle="modal" data-target="#modal3"><img class="card-img-top img-fluid" alt="Lettre autographe de Madame de Sévigné (Grignan, Inv. 1329)" src="data/img/Images_gallery/MsGrignan_inv1329_d.jpg"></img></div>
            <div class="card mb-3 pics animation all 2" type="button" data-toggle="modal" data-target="#modal4"><img class="card-img-top img-fluid" alt="Signature autographe de Madame de Sévigné (Grignan, Inv 1229)" src="data/img/Images_gallery/signature_d.jpg"></img></div>
            <div class="card mb-3 pics animation all 2" type="button" data-toggle="modal" data-target="#modal5"><img class="card-img-top img-fluid" alt="Page de garde de l'édition subreptice de Rouen" src="data/img/Images_gallery/Lettres1726_Rouen_btv1b86146056_f7.jpg"></img></div>
            <div class="card mb-3 pics animation all 2" type="button" data-toggle="modal" data-target="#modal6"><img class="card-img-top img-fluid" alt="Lettre de l'édition subreptice de Rouen" src="data/img/Images_gallery/Lettres1726_Rouen_btv1b86146056_f23.jpg"></img></div>
            <div class="card mb-3 pics animation all 2" type="button" data-toggle="modal" data-target="#modal7"><img class="card-img-top img-fluid" alt="Château des Rochers-Sévigné à Vitré, France" src="data/img/Images_gallery/Rochers.jpg"></img></div>
            <div class="card mb-3 pics animation all 2" type="button" data-toggle="modal" data-target="#modal8"><img class="card-img-top img-fluid" alt="Portrait de Mme de Sévigné" src="data/img/Images_gallery/deco_Portrait2.jpg"></img></div>
         </div>
      </div>
      <div class="modal fade" tabindex="-1" role="dialog" id="modal1">
         <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">
                     <H2 id="">Chambre de Madame de Sévigné</H2>
                  </h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-window-close" aria-hidden="true"></i></button></div>
               <div class="modal-body">
                  <p>Chambre de Madame de Sévigné au château de Grignan, Grignan</p>
                  <p>Droits : </p><img width="50%" alt="Chambre de Madame de Sévigné" src="data/img/Images_gallery/chambre_d.jpg"></img></div>
            </div>
         </div>
      </div>
      <div class="modal fade" tabindex="-1" role="dialog" id="modal2">
         <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">
                     <H2 id="">Façade du château de Grignan</H2>
                  </h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-window-close" aria-hidden="true"></i></button></div>
               <div class="modal-body">
                  <p>Façade du château de Grignan, Grignan</p>
                  <p>Droits : </p><img width="50%" alt="Façade du château de Grignan" src="data/img/Images_gallery/Grignan_d.jpg"></img></div>
            </div>
         </div>
      </div>
      <div class="modal fade" tabindex="-1" role="dialog" id="modal3">
         <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">
                     <H2 id="">Lettre autographe de Madame de Sévigné (Grignan, Inv. 1329)</H2>
                  </h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-window-close" aria-hidden="true"></i></button></div>
               <div class="modal-body">
                  <p>Ms Grignan, Inv. 1329, ff.1 et 4</p>
                  <p>Droits : </p><img width="50%" alt="Lettre autographe de Madame de Sévigné (Grignan, Inv. 1329)" src="data/img/Images_gallery/MsGrignan_inv1329_d.jpg"></img></div>
            </div>
         </div>
      </div>
      <div class="modal fade" tabindex="-1" role="dialog" id="modal4">
         <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">
                     <H2 id="">Signature autographe de Madame de Sévigné (Grignan, Inv 1229)</H2>
                  </h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-window-close" aria-hidden="true"></i></button></div>
               <div class="modal-body">
                  <p>Ms Grignan, Inv 1229, f.2</p>
                  <p>Droits : </p><img width="50%" alt="Signature autographe de Madame de Sévigné (Grignan, Inv 1229)" src="data/img/Images_gallery/signature_d.jpg"></img></div>
            </div>
         </div>
      </div>
      <div class="modal fade" tabindex="-1" role="dialog" id="modal5">
         <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">
                     <H2 id="">Page de garde de l'édition subreptice de Rouen</H2>
                  </h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-window-close" aria-hidden="true"></i></button></div>
               <div class="modal-body">
                  <p>Paris, BNF, RES-Z-2320</p>
                  <p>Droits :  - Source : <a href="https://gallica.bnf.fr/ark:/12148/btv1b86146056/f7.image">https://gallica.bnf.fr/ark:/12148/btv1b86146056/f7.image</a></p><img width="50%" alt="Page de garde de l'édition subreptice de Rouen" src="data/img/Images_gallery/Lettres1726_Rouen_btv1b86146056_f7.jpg"></img></div>
            </div>
         </div>
      </div>
      <div class="modal fade" tabindex="-1" role="dialog" id="modal6">
         <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">
                     <H2 id="">Lettre de l'édition subreptice de Rouen</H2>
                  </h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-window-close" aria-hidden="true"></i></button></div>
               <div class="modal-body">
                  <p>Paris, BNF, RES-Z-2320, p. 15</p>
                  <p>Droits :  - Source : <a href="https://gallica.bnf.fr/ark:/12148/btv1b86146056/f23.item">https://gallica.bnf.fr/ark:/12148/btv1b86146056/f23.item</a></p><img width="50%" alt="Lettre de l'édition subreptice de Rouen" src="data/img/Images_gallery/Lettres1726_Rouen_btv1b86146056_f23.jpg"></img></div>
            </div>
         </div>
      </div>
      <div class="modal fade" tabindex="-1" role="dialog" id="modal7">
         <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">
                     <H2 id="">Château des Rochers-Sévigné à Vitré, France</H2>
                  </h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-window-close" aria-hidden="true"></i></button></div>
               <div class="modal-body">
                  <p>Château des Rochers-Sévigné, Vitré (France)</p>
                  <p>Droits :  - Source : <a href="https://commons.wikimedia.org/wiki/File:Castle-Rochers-Sevigne2.jpg">https://commons.wikimedia.org/wiki/File:Castle-Rochers-Sevigne2.jpg</a></p><img width="50%" alt="Château des Rochers-Sévigné à Vitré, France" src="data/img/Images_gallery/Rochers.jpg"></img></div>
            </div>
         </div>
      </div>
      <div class="modal fade" tabindex="-1" role="dialog" id="modal8">
         <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">
                     <H2 id="">Portrait de Mme de Sévigné</H2>
                  </h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-window-close" aria-hidden="true"></i></button></div>
               <div class="modal-body">
                  <p>Portrait de Claude Lefèbvre, Musée Carnavalet, P 1978</p>
                  <p>Droits :  - Source : <a href="https://commons.wikimedia.org/wiki/File:Marquise_de_S%C3%A9vign%C3%A9.jpg">https://commons.wikimedia.org/wiki/File:Marquise_de_S%C3%A9vign%C3%A9.jpg</a></p><img width="50%" alt="Portrait de Mme de Sévigné" src="data/img/Images_gallery/deco_Portrait2.jpg"></img></div>
            </div>
         </div>
      </div>
      </div>
</div>{% endblock %}