{% extends "project.html.twig" %}{% block title %}Bibliographie autour de Madame De Sévigné - Liens{% endblock %}

{% block tei_link %}./data/tei/HN_Sevigne_links.xml{% endblock %}

{% block content %}
<div class="row">
   <div class="col text-justify">
      
      <H2 id="">Liens</H2>
      
      <h3 class="fa fa-bank"> Recherche</h3>
      <ul>
         <li>SIEFAR
            <ul>
               <li>Société internationale d'étude des femmes de l'Ancien Régime</li>
               <li><a class="fa fa-external-link" href="http://siefar.org/"> Site web</a></li>
            </ul>
         </li>
         <li>Madame de Villedieu
            <ul>
               <li>Site sur Madame de Villedieu d'Edwige Keller-Rahbé (université Lyon 2)</li>
               <li><a class="fa fa-external-link" href="https://madamedevilledieu.univ-lyon2.fr/"> Site web</a></li>
            </ul>
         </li>
         <li>Bussy-Rabutin
            <ul>
               <li>Site de la Société des amis de Bussy-Rabutin</li>
               <li><a class="fa fa-external-link" href="https://bussyrabutin.hypotheses.org/"> Site web</a></li>
            </ul>
         </li>
         <li>Le Règne d'Astrée
            <ul>
               <li>Édition numérique de <i>L'Astrée</i> d'Honoré d'Urfé</li>
               <li><a class="fa fa-external-link" href="http://astree.huma-num.fr/"> Site web</a></li>
            </ul>
         </li>
         <li>Artamène
            <ul>
               <li>Édition numérique d'<i>Artamène</i> de Madeleine et Georges de Scudéry</li>
               <li><a class="fa fa-external-link" href="https://www.artamene.org/"> Site web</a></li>
            </ul>
         </li>
         <li>XVIIe siècle
            <ul>
               <li>Société d'Étude du XVIIe siècle</li>
               <li><a class="fa fa-external-link" href="http://www.17esiecle.fr/"> Site web</a></li>
            </ul>
         </li>
         <li>Epistolaire
            <ul>
               <li>Association Interdisciplinaire de Recherches sur l'Epistolaire</li>
               <li><a class="fa fa-external-link" href="http://www.epistolaire.org"> Site web</a></li>
            </ul>
         </li>
      </ul>
      
      <h3 class="fa fa-map-marker"> Patrimoine</h3>
      <ul>
         <li>Château des Rochers
            <ul>
               <li>Musée du château des Rochers</li>
               <li><a class="fa fa-external-link" href="http://bretagne-vitre.com/le-chateau-des-rochers-sevigne/"> Site web</a></li>
            </ul>
         </li>
         <li>Château de Grignan
            <ul>
               <li>Musée du château de Grignan</li>
               <li><a class="fa fa-external-link" href="https://www.chateaux-ladrome.fr/fr/chateau-de-grignan"> Site web</a></li>
            </ul>
         </li>
         <li>Musée Carnavalet
            <ul>
               <li>Musée Carnavalet - Histoire de Paris</li>
               <li><a class="fa fa-external-link" href="https://www.carnavalet.paris.fr/"> Site web</a></li>
            </ul>
         </li>
      </ul>
      </div>
</div>{% endblock %}