{% extends "project.html.twig" %}{% block title %}Bibliographie autour de Madame De Sévigné - Actualités{% endblock %}

{% block tei_link %}./data/tei/HN_Sevigne_news.xml{% endblock %}

{% block content %}
<div class="row">
   <div class="col text-justify">
      
      <H2 id="">Actualités</H2>
      
      <div class="col">
         <div class="row m-2 pb-3 pt-4 border-bottom">
            <div class="col-3"><img class="event rounded mt-2" width="99%" src="data/img/Images_events/Event_2024_AfficheFilmSevigne.jpg">
                  <figcaption class="text-secondary">Film : Mme de Sévigné d'Isabelle Brocard</figcaption></img></div>
            <div class="col-9">
               <div class="row">
                  <div class="col-6 fa fa-bank"> Film</div>
                  <div class="fa fa-calendar col-6 text-right"> 28 février 2024</div>
               </div>
               <p>
                  
                                    
                  
                  
                  Synopsis : Milieu du XVIIème siècle, la marquise de Sévigné veut faire de sa fille
                  une
                  femme brillante et indépendante, à son image.
                  Mais plus elle tente d’avoir une emprise sur le destin de la jeune femme,
                  plus celle-ci se rebelle.
                  Mère et fille expérimentent alors les tourments d’une relation fusionnelle
                  et dévastatrice.
                  De ce ravage, va naître une œuvre majeure de la littérature française.
                  
                  
                  </p>
               <div class="row">
                  <div class="col-12">
                     <p class=" fa fa-book"> Bibliographie associée :</p>
                     <ol class="bibl">
                        <li>Lien :
                           <a class="fa fa-link" href="https://www.advitamdistribution.com/films/madame-de-sevigne/#downloads"> Dossier de presse, dossier pédagogique et revue de presse sur le site AdVitam</a> 
                           </li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
         <div class="row m-2 pb-3 pt-4 border-bottom">
            <div class="col-3"><img class="event rounded mt-2" width="99%" src="data/img/Images_events/Event_2023_CouvertureLivreHaroche.jpg">
                  <figcaption class="text-secondary">Parution : Biographie sur Mme de Sévigné</figcaption></img></div>
            <div class="col-9">
               <div class="row">
                  <div class="col-6 fa fa-map-marker"> Éditions Flammarion</div>
                  <div class="fa fa-calendar col-6 text-right"> 25 décembre 2023</div>
               </div>
               <p>
                  
                  
                  
                  
                  Geneviève Haroche-Bouzinac, Mme de Sévigné, Paris, Flammarion, 2023.
                  
                  
                  </p>
               <div class="row">
                  <div class="col-12">
                     <p class=" fa fa-book"> Bibliographie associée :</p>
                     <ol class="bibl">
                        <li>Lien :
                           <a class="fa fa-link" href="https://editions.flammarion.com/madame-de-sevigne/9782080234346"> Présentation de l'ouvrage</a> 
                           </li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
         <div class="row m-2 pb-3 pt-4 border-bottom">
            <div class="col-3"><img class="event rounded mt-2" width="99%" src="data/img/Images_events/Event_2023_CouvertureLivreGarrote.jpg">
                  <figcaption class="text-secondary">Parution : Livre sur la langue de Mme de Sévigné</figcaption></img></div>
            <div class="col-9">
               <div class="row">
                  <div class="col-6 fa fa-map-marker"> Éditions des Presses Universitaires de France</div>
                  <div class="fa fa-calendar col-6 text-right"> 22 février 2023</div>
               </div>
               <p>
                  
                  
                  
                  
                  Nicolas Garroté, Poétique de Mme de Sévigné. L'invention d'une langue, Paris, PUF,
                  2023.
                  
                  
                  </p>
               <div class="row">
                  <div class="col-12">
                     <p class=" fa fa-book"> Bibliographie associée :</p>
                     <ol class="bibl">
                        <li>Lien :
                           <a class="fa fa-link" href="https://www.fabula.org/actualites/112656/nicolas-garrote-poetique-de-madame-de-sevigne-l-invention-d-une-langue.html"> Présentation de l'ouvrage</a> 
                           </li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
         <div class="row m-2 pb-3 pt-4 border-bottom">
            <div class="col-3"><img class="event rounded mt-2" width="99%" src="data/img/Images_logos/Logo_Mus%C3%A9eCarnavalet.svg">
                  <figcaption class="text-secondary">Conférence : La sagesse galante de Mme de Sévigné, art de vivre et art d’écrire</figcaption></img></div>
            <div class="col-9">
               <div class="row">
                  <div class="col-6 fa fa-map-marker"> Musée Carnavalet</div>
                  <div class="fa fa-calendar col-6 text-right"> 9 décembre 2022</div>
               </div>
               <p>
                  
                  
                  
                  
                  Conférence spéciale d’une heure, par Cécile Lignereux, au musée Carnavalet « La sagesse
                  galante. Art de vivre et art d’écrire dans la correspondance de Mme de Sévigné »,
                  dans le cadre du colloque international « Intelligent Houses and gardens », 8-10 décembre
                  2022 (org. Musée Nissim de Camondo, Musée Carnavalet et Paris 3 Sorbonne Nouvelle).
                  
                  
                  </p>
               <div class="row">
                  <div class="col-12">
                     <p class=" fa fa-book"> Bibliographie associée :</p>
                     <ol class="bibl">
                        <li>Lien :
                           <a class="fa fa-link" href="https://www.carnavalet.paris.fr/agenda/conference-la-sagesse-galante-de-mme-de-sevigne-art-de-vivre-et-art-decrire"> Présentation de la conférence</a> 
                           </li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
         <div class="row m-2 pb-3 pt-4 border-bottom">
            <div class="col-3"><img class="event rounded mt-2" width="99%" src="data/img/Images_logos/logo_montpellier.jpg">
                  <figcaption class="text-secondary">Soutenance de thèse : "Une langue propre à son cœur" : Mme de Sévigné, l’amour et
                     le langage.</figcaption></img></div>
            <div class="col-9">
               <div class="row">
                  <div class="col-6 fa fa-bank"> Université Paul Valéry-Montpellier III</div>
                  <div class="fa fa-calendar col-6 text-right"> 2 décembre 2020</div>
               </div>
               <p>
                  
                  
                  
                  
                  Dans la Recherche du temps perdu, Odette et Swann ne disent pas faire l’amour mais
                  « faire catleya » : ils recourent à ce que Proust appelle une « langue moins générale,
                  plus personnelle, plus secrète, que la langue habituelle ». Une « langue » que les
                  psychologues qualifient quant à eux de « cryptophasie » et dont la Correspondance
                  de Mme de Sévigné offre un exemple à la fois unique et révélateur. À partir des échos
                  de son monde et des éclats de ses livres, l’épistolière tisse dans ses lettres à sa
                  fille un idiome à part qui n’est ni un dialecte (une langue propre à une communauté)
                  ni un idiolecte (une langue propre à une personne), mais ce que l’on pourrait appeler
                  un duolecte ou une langue intime : un idiome familial que l’on peut qualifier, à la
                  lumière des travaux de Deleuze et Guattari, de « langue mineure ». […]
                  
                  
                  </p>
               <div class="row">
                  <div class="col-12">
                     <p class=" fa fa-book"> Bibliographie associée :</p>
                     <ol class="bibl">
                        <li>Lien :
                           <a class="fa fa-link" href="https://www.fabula.org/actualites/soutenance-de-these-de-nicolas-garrote-une-langue-propre-son-coeur-mme-de-sevigne-l-amour-et-le_98979.php?utm_source=dlvr.it&amp;utm_medium=twitter"> Annonce de la soutenance.</a> 
                           </li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
         <div class="row m-2 pb-3 pt-4 border-bottom">
            <div class="col-3"><img class="event rounded mt-2" width="99%" src="data/img/Images_logos/Logo_20mn.png">
                  <figcaption class="text-secondary">Article : Coronavirus: Madame de Sévigné masquée et confinée à cause d’une épidémie?
                     Gare au pastiche</figcaption></img></div>
            <div class="col-9">
               <div class="row">
                  <div class="col-6 fa fa-bank"> 20 minutes</div>
                  <div class="fa fa-calendar col-6 text-right"> 9 octobre 2020</div>
               </div>
               <p>
                  
                                    
                  
                  
                  Une fausse lettre attribuée à Madame de Sévigné circule sur les réseaux sociaux
                  
                  
                  </p>
               <div class="row">
                  <div class="col-12">
                     <p class=" fa fa-book"> Bibliographie associée :</p>
                     <ol class="bibl">
                        <li>Lien :
                           <a class="fa fa-link" href="https://www.20minutes.fr/societe/2881655-20201009-coronavirus-madame-sevigne-masquee-confinee-cause-epidemie-gare-pastiche"> Vers l'article</a> 
                           </li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
         <div class="row m-2 pb-3 pt-4 border-bottom">
            <div class="col-3"><img class="event rounded mt-2" width="99%" src="data/img/Images_logos/sorbonne_nouvelle.png">
                  <figcaption class="text-secondary">Séminaire Transitions: Gaieté(s) de la littérature : style, émotions et transmission</figcaption></img></div>
            <div class="col-9">
               <div class="row">
                  <div class="col-6 fa fa-bank"> Université Sorbonne-Nouvelle</div>
                  <div class="fa fa-calendar col-6 text-right"> 23 novembre 2019</div>
               </div>
               <p>
                  
                  
                  
                  
                  Scéance intitulée Gaieté et sociabilité sous l'Ancien Régime (Sévigné, Beaumarchais).
                  
                  
                  </p>
               <div class="row">
                  <div class="col-12">
                     <p class=" fa fa-book"> Bibliographie associée :</p>
                     <ol class="bibl">
                        <li>Lien :
                           <a class="fa fa-link" href="http://www.mouvement-transitions.fr/index.php/presents/le-seminaire"> Programme</a> 
                           </li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
         <div class="row m-2 pb-3 pt-4 border-bottom">
            <div class="col-3"><img class="event rounded mt-2" width="99%" src="data/img/Images_events/marols.png">
                  <figcaption class="text-secondary">Marols, Concert-lecture avec l’ensemble Orfeo 2000</figcaption></img></div>
            <div class="col-9">
               <div class="row">
                  <div class="col-6 fa fa-bank"> association  Marols’Anim</div>
                  <div class="fa fa-calendar col-6 text-right"> 14 août 2019</div>
               </div>
               <p>
                  
                                    
                  
                  
                  Lecture dans une ambiance musicale avec les musiques de Bach, Händel, Telemann ou
                  Dieupart.
                  
                  
                  </p>
               <div class="row">
                  <div class="col-12">
                     <p class=" fa fa-book"> Bibliographie associée :</p>
                     <ol class="bibl">
                        <li>
                           <a class="fa fa-archive" href="./data/doc/2019_marols.pdf"> Catalogue de l'exposition</a> 
                           </li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
         <div class="row m-2 pb-3 pt-4 border-bottom">
            <div class="col-3"><img class="event rounded mt-2" width="99%" src="data/img/Images_logos/logo_france3.png">
                  <figcaption class="text-secondary">Émission Secrets d’Histoire  La marquise de Sévigné, l’esprit du Grand Siècle</figcaption></img></div>
            <div class="col-9">
               <div class="row">
                  <div class="col-6 fa fa-bank"> France 3</div>
                  <div class="fa fa-calendar col-6 text-right"> 25 juillet 2019</div>
               </div>
               <p>
                  
                                    
                  
                  
                  «Secrets d'histoire» et Stéphane Bern ouvrent les portes des plus beaux châteaux,
                  comme ceux de Versailles ou de Grignan en Provence, mais aussi en Bretagne et en Bourgogne,
                  sur les terres des ancêtres de Madame de Sevigné. L'animateur fait aussi découvrir
                  le château des Rochers, de Bourbilly ou celui de son cousin Bussy.
                  
                  
                  </p>
               <div class="row">
                  <div class="col-12">
                     <p class=" fa fa-book"> Bibliographie associée :</p>
                     <ol class="bibl">
                        <li>Lien :
                           <a class="fa fa-link" href="https://www.france.tv/france-3/secrets-d-histoire/1029493-la-marquise-de-sevigne-l-esprit-du-grand-siecle.html"> Site de l'émission</a> 
                           </li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
         <div class="row m-2 pb-3 pt-4 border-bottom">
            <div class="col-3"><img class="event rounded mt-2" width="99%" src="data/img/Images_logos/Logo_LogoVoixTexte.png">
                  <figcaption class="text-secondary">La Voix d’un texte au Panthéon</figcaption></img></div>
            <div class="col-9">
               <div class="row">
                  <div class="col-6 fa fa-map-marker"> Panthéon, Paris</div>
                  <div class="fa fa-calendar col-6 text-right"> 9 juin 2018</div>
               </div>
               <p>
                  
                  
                  
                  
                  Les Lettres de Madame de Sévigné (1626-1696) ne constituent pas une œuvre littéraire
                  comme les autres – d’ailleurs, la marquise n’avait pas envisagé leur publication.
                  Journaliste du Grand Siècle, l’épistolière rapporte, à ses amis éloignés de Paris,
                  tous les plus grands scandales de la Cour du Roi-Soleil : le mariage manqué de la
                  Grande Mademoiselle, l’affaire des poisons impliquant la Brinvilliers et la sorcière
                  dite « la Voisin », la mort de Turenne, et bien d’autres. En donnant à ses lettres
                  l’allure et le charme d’une conversation mondaine, elle leur permet d’accéder à une
                  véritable dignité littéraire. Ses Lettres témoignent aussi et surtout d’une passion
                  extraordinaire, d’un amour plus fort que la distance, celui d’une mère pour sa fille
                  partie vivre à Grignan : l’écriture est alors, aux yeux de Madame de Sévigné, une
                  nécessité vitale.
                  
                  
                  </p>
               <div class="row">
                  <div class="col-12">
                     <p class=" fa fa-book"> Bibliographie associée :</p>
                     <ol class="bibl">
                        <li>Lien :
                           <a class="fa fa-link" href="https://www.ens.fr/agenda/la-voix-d-un-texte-au-pantheon/2018-05-26t140000"> Présentation</a> 
                           </li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
         <div class="row m-2 pb-3 pt-4 border-bottom">
            <div class="col-3"><img class="event rounded mt-2" width="99%" src="data/img/Images_logos/Logo_LogoParisSaclay.jpg">
                  <figcaption class="text-secondary">Soutenance de thèse : Le Vivant dans la Correspondance de Madame de Sévigné</figcaption></img></div>
            <div class="col-9">
               <div class="row">
                  <div class="col-6 fa fa-bank"> Paris-Saclay</div>
                  <div class="fa fa-calendar col-6 text-right"> 2 décembre 2017</div>
               </div>
               <p>
                  
                  
                  
                  
                  La Correspondance de Sévigné retrace la vie quotidienne, émotionnelle et morale de
                  l'épistolière, dont on a souvent collecté et interprété les aléas dans une perspective
                  biographique ou socio-littéraire. À travers le "vivant", notion transversale et unifiante,
                  nous nous proposons de mettre au jour les articulations entre l'existence sévignéenne
                  et la lettre, entre formes de vie et formes d'écriture, et ainsi d'envisager à nouveaux
                  frais la puissance de réflexion et de transformation de l'écriture sévignéenne.
                  
                  
                  </p>
               <div class="row">
                  <div class="col-12">
                     <p class=" fa fa-book"> Bibliographie associée :</p>
                     <ol class="bibl">
                        <li>Lien :
                           <a class="fa fa-link" href="http://www.theses.fr/2017SACLV083"> Description de la thèse</a> 
                           </li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
         <div class="row m-2 pb-3 pt-4 border-bottom">
            <div class="col-3"><img class="event rounded mt-2" width="99%" src="data/img/Images_events/Event_2017_ConfEns.jpg">
                  <figcaption class="text-secondary">Colloque : Vivre en toutes lettres : le cas Sévigné</figcaption></img></div>
            <div class="col-9">
               <div class="row">
                  <div class="col-6 fa fa-bank"> ENS-Ulm</div>
                  <div class="fa fa-calendar col-6 text-right"> 16 juin 2017</div>
               </div>
               <p>
                  
                  
                  
                  
                  Dans quelle mesure la lettre permet-elle de saisir un « vivre » qui ne se réduise
                  pas à des biographèmes ? L’éclatement des paradigmes moraux et spirituels dans la
                  Correspondance et l’adaptation des pratiques de soi à un quotidien dont la lettre « enregistr[e]
                  […] [l]es écarts et [l]es variations » (pour reprendre le propos de François Jullien
                  au sujet de Montaigne) semblent faire émerger un « vivre » en mouvement : quelles
                  ressources physiques, morales et esthétiques, sont alors mobilisées dans la lettre
                  sévignéenne pour rendre compte des interrogations existentielles, et avec quelles
                  conséquences sur l’écriture épistolaire ?
                  
                  
                  </p>
               <div class="row">
                  <div class="col-12">
                     <p class=" fa fa-book"> Bibliographie associée :</p>
                     <ol class="bibl">
                        <li>Lien :
                           <a class="fa fa-link" href="https://www.fabula.org/actualites/journee-d-etude-vivre-en-toutes-lettres-le-cas-sevigne_78992.php"> Programme</a> 
                           </li>
                        <li>
                           <a class="fa fa-archive" href="./data/doc/Event_2017_ConfEns_prog.pdf"> Programme en PDF</a> 
                           </li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
         <div class="row m-2 pb-3 pt-4 border-bottom">
            <div class="col-3"><img class="event rounded mt-2" width="99%" src="data/img/Images_events/Event_2017_ExpoGrignan.jpg">
                  <figcaption class="text-secondary">Exposition : Sévigné, épistolière du Grand Siècle</figcaption></img></div>
            <div class="col-9">
               <div class="row">
                  <div class="col-6 fa fa-map-marker"> Château de Grignan</div>
                  <div class="fa fa-calendar col-6 text-right"> Du 25 mai au 22 octobre 2017</div>
               </div>
               <p>
                  
                  
                  
                  
                  Le château de Grignan est à jamais associé à Madame de Sévigné, femme de lettres devenue
                  célèbre après la parution de sa correspondance. L'exposition retrace le parcours de
                  cette épistolière d'exception entre Paris, Vitré (Bretagne) et Grignan, où elle séjourne
                  auprès de sa fille. Elle met en lumière l'évolution de son écriture, l'art de vivre
                  en Provence et le mythe sévignéen, à travers plus de cent objets et oeuvres d'art
                  illustrant le Grand Siècle.
                  
                  
                  </p>
               <div class="row">
                  <div class="col-12">
                     <p class=" fa fa-book"> Bibliographie associée :</p>
                     <ol class="bibl">
                        <li>Lien :
                           <a class="fa fa-link" href="https://www.chateaux-ladrome.fr/fr/saison-2017-2018/expositions/sevigne-epistoliere-du-grand-siecle"> Présentation de l'exposition</a> 
                           </li>
                        <li>
                           <a class="fa fa-archive" href="./data/doc/Event_2017_ExpoGrignan_desc.pdf"> Catalogue de l'exposition</a> 
                           </li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
         <div class="row m-2 pb-3 pt-4 border-bottom">
            <div class="col-3">
               <figcaption class="text-secondary">Lecture accompagnée de luth baroque</figcaption>
            </div>
            <div class="col-9">
               <div class="row">
                  <div class="col-6 fa fa-bank"> Café des Arts Grenoble</div>
                  <div class="fa fa-calendar col-6 text-right"> 17 novembre 2016</div>
               </div>
               <p>
                  
                                    
                  
                  
                  
                  </p>
            </div>
         </div>
         <div class="row m-2 pb-3 pt-4 border-bottom">
            <div class="col-3"><img class="event rounded mt-2" width="99%" src="data/img/Images_logos/Logo_FranceCulture.jpg">
                  <figcaption class="text-secondary">Émission : Madame de Sévigné (1626-1696) : dans les petits papiers du Grand Siècle</figcaption></img></div>
            <div class="col-9">
               <div class="row">
                  <div class="col-6 fa fa-bank"> France culture</div>
                  <div class="fa fa-calendar col-6 text-right"> 19 mars 2016</div>
               </div>
               <p>
                  
                                    
                  
                  
                  Dans ses fameuses lettres, Madame de Sévigné chroniqua le procès de Fouquet tout autant
                  que la vie provinciale du château des Rochers à Vitré, tout cela pour l’amour d’une
                  femme : sa fille, partie à Grignan vivre auprès de son Comte de mari...
                  
                  
                  </p>
               <div class="row">
                  <div class="col-12">
                     <p class=" fa fa-book"> Bibliographie associée :</p>
                     <ol class="bibl">
                        <li>Lien :
                           <a class="fa fa-link" href="https://www.franceculture.fr/emissions/une-vie-une-oeuvre/madame-de-sevigne-1626-1696-dans-les-petits-papiers-du-grand-siecle"> Site de l'émission</a> 
                           </li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
</div>{% endblock %}